@tailwind base;
@tailwind components;
@tailwind utilities;


body,
html {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

.swiper {
  width: 95vw;
  height: 100%;
  padding-right: 20px;
  /* border: 1px solid red; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}




@media (min-width:1024px) {
  /* Scoped CSS for the circular-slider */
.circular-slider .swiper-slide {
  flex-shrink: 0;
  width: 200px;
  height: 300px;
  transition: all 0.5s ease, opacity 0.5s ease;
  transform-origin: center;
  transform: translateY(0px);
}


.circular-slider .swiper-slide-next {
  transform: scale(1.5) translateY(100px) !important;
}

.circular-slider .swiper-slide-prev {
  transform: translateY(-300px);
}

}

/* .circular-slider .swiper-slide-active {
  transform: scale(1) translateY(-100) !important;
} */



.kaftan-text {
  font-family: var(--kaftan), sans-serif;
}

.samarkan-text {
  font-family: var(--samarkan), sans-serif;
}


.fade-animation {
  animation: test 1s 0s forwards !important;
  opacity: 0;
  /* Single shorthand */
}
.fade-animation-1 {
  animation: test 1s 0.1s forwards !important;
  opacity: 0;
  /* Single shorthand */
}
.fade-animation-2 {
  animation: test 1s 0.2s forwards !important;
  opacity: 0;
  /* Single shorthand */
}
.fade-animation-3 {
  animation: test 1s 0.4s forwards !important;
  opacity: 0;
  /* Single shorthand */
}
.fade-animation-3 {
  animation: test 1s 0.6s forwards !important;
  opacity: 0;
  /* Single shorthand */
}

.fade-animation-hero-logo {
  animation: logo 1s 0.2s forwards !important;
  opacity: 0;
  /* Single shorthand */
}


@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important; /* Hide navigation on small screens */
  }
}


@keyframes test {
  from {
    transform: translateY(20px);
    background: transparent;
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes logo {
  from {
    scale: 1.25;
    opacity: 0;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}



.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 500%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev {
  left: 10px; /* Adjust the positioning */
}

.swiper-button-next {
  right: 10px; /* Adjust the positioning */
}

.swiper-button-prev img,
.swiper-button-next img {
  width: 30px; /* Adjust size of the arrow */
  height: 30px;
}
