@tailwind base;
@tailwind components;
@tailwind utilities;



body::-webkit-scrollbar{
  width: 6px;
}

body::-webkit-scrollbar-track{
  background-color: white;
}

body::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: 10px;
}

.swiper {
  width: 95vw;
  height: 100%;
  padding-right: 20px;
  /* border: 1px solid red; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-slide {
  transition: filter 0.3s ease, opacity 0.3s ease;
  opacity: 0.7; 
}

.swiper-slide-active {
  
  opacity: 1; /* Make the active slide fully visible */
}

.kaftan-text {
  font-family: var(--kaftan), sans-serif;
}
